.Neptune-Emperor-horizental-line {
    width: 590px;
    height: 1px;
    background-color: rgb(71, 11, 113);
    display: inline-block;
    border-radius: 8px;
}

#nav-Link {
    padding: 3px;
    overflow: hidden;
    transition: 0.4s;
}

#nav-Link::before {
    content: "";
    width: 50%;
    top: 0;
    right: 100%;
    height: 2px;
    background-color: rgb(0, 200, 255);
    position: absolute;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#nav-Link::after {
    content: "";
    width: 50%;
    bottom: 0;
    left: 100%;
    height: 2px;
    background-color: #cfcfd6;
    position: absolute;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#nav-Link:hover {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    line-height: 2rem;
    transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#nav-Link:hover::before {
    right: 0;
}

#nav-Link:hover::after {
    left: 0;
}

#grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 10px;
}

.grid__img {
    width: 100%;
    aspect-ratio: 1/1;
}

.horizental-Longline {
    max-width: 1280px;
    width: 90%;
    height: 1px;
    background-color: rgb(58, 55, 55);
    display: inline-block;
    border-radius: 8px;
    transition: 0.5s linear cubic-bezier(1, 0, 8, 1);
}

.coming__soon-btn-Neptune {
    border: 1px solid #ffffff;
    position: absolute;
    z-index: 1;
    transition: var(--trans);
    overflow: hidden;
    background: rgb(0, 102, 255);
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

}